{% load static %}

<!-- JavaScript files-->
      <script src="{% static 'stores/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'stores/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'stores/lightbox2/js/lightbox.min.js' %}"></script>
      <script src="{% static 'stores/nouislider/nouislider.min.js' %}"></script>
      <script src="{% static 'stores/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
      
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
  </body>
</html>