{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

    {% block content %}

      <div class="container mb-5">
        <h1 class="title">About</h1>
        Nestit.com, is a newly launched company focusing on sales of digitaldevices. 
        It hopes to become one of the most influential economic and cultural forces in the world. 
        And will soon be regarded as one of the world's most valuable brands. 
        It is already considered as one of the most ambitious ecommerce companies, 
        been compared to the start up stories of Alphabet (parent company of Google), Apple, 
        Meta (formerly Facebook Inc.) and Microsoft.
          
    </div>

{% endblock content %}