{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

    {% block content %}

      <div class="container py-5">
        <h1 class="title">Terms</h1>

        <p>
            Please read these conditions carefully before using Nesit Services.
             By using Nesit Services, you signify your agreement to be bound by these conditions. 
             We know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. 
        This Privacy Notice describes how Nestit.com.com and its affiliates (collectively "Nestit.com") 
        collect and process your personal information through Nestit.com websites, devices, products, services,
         online and physical stores, and applications that reference this Privacy Notice (together "Nestit.com Services").
        </p>
          
    </div>
    
{% endblock content %}